nav ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}

nav ul li :hover{
    background-color: blue;
}

nav ul a{
    text-decoration: none;

}

/* form css start */

/* td jehetu ekta predefined class tai eitar agee dot(.) deya lage na..onekta nav er moto concept */
td {
    border: 1px solid black;
     padding: 15px 20px;
     text-align: center;
}
table{
    /* border gula shob mile gese...majhe kono gap nai */
    border-collapse: collapse;
   
}
th{
    border: 1px solid black;
    padding: 15px 20px;
    text-align: center;
}

